/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

main{
  padding-top: 70px;
}

img{
  max-width: 100%;
}

header{
  height: 70px;
  background-color: #ff6900;
  position: fixed;
  width: 100%;
  z-index: 999;
}

footer{
  height: 100px;
  background-color: #1a1a1a;
}

/* UTILITY */
.container{
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.debug{
  background-color: rgba(0, 255, 255, 0.219);
  border: 1px solid black;
}

/* HEADER*/
header .wrap{
  display: flex;
  height: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

/* NAV */
nav .gender ul,
nav .actions ul{
  display: flex;
}

nav .gender ul li,
nav .actions ul li{
  list-style: none;
  padding-right: 10px;
  font-weight: bold;
}

nav .gender ul li a,
nav .actions ul li i{
  text-decoration: none;
  color: white;
}

nav .gender ul li a:hover,
nav .actions ul li i:hover{
  color: rgb(27, 27, 27);
}

nav .logo img{
  height: 30px;
}

/* MAIN */
main .row{
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

section .card{
  width: calc(100% / 3 - 20px);
  min-width: 400px;
  position: relative;
  margin-bottom:30px;
  cursor: pointer;
}

section .card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

section .card:hover .overlay {
  opacity: 1;
}


section .card h3{
  font-weight: 400;
  font-size: 0.9rem;
}

section .card h2{
  font-size: 1rem;
  text-transform: uppercase;
}

section .card span:first-of-type{
  color: red;
  font-weight: bold;
  font-size: 0.9rem;
}

section .card span#cancel:last-of-type{
  text-decoration: line-through;
  font-size: 0.9rem;
}

section .card span:first-of-type:after,
section .card span:last-of-type:after{
  content: '\20AC';
}

section .wrap-tag .label{
  color: white;
  font-weight: bold;
}

section .wrap-tag{
  position: absolute;
  top: calc(100% - 125px);
  left: 0;
}

section .wrap-tag .label{
  display:flex ;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

section .wrap-tag .label .discount,
section .wrap-tag .label .info{
  padding: 5px 9px;
  font-size: 0.9rem;
}

section .wrap-tag .label .discount{
  background-color: red;
}

section .wrap-tag .label .info{
  background-color: #008000;
}

section .heart{
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 0;
  background-color: white;
  font-size: 2.5rem;
  padding: 10px;
  height: 50px ;
  width: 50px;
  text-align: center;
  line-height: 25px;
}

section .heart:hover{
  color: red;
}

/* FOOTER */
footer h3,
footer h4{
  color: white;
  padding-bottom: 10px;
}

footer h4{
  font-size: 0.99rem;
}

footer .wrap-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

footer .left ul{
  display:flex ;
}

footer .left ul li{
  list-style: none;
  padding-right: 10px;
}

footer .left ul li a,
footer .right ul li i{
  text-decoration: none;
  color: white;
}

footer .left ul li a:hover{
  text-decoration: underline;
}

footer .right ul{
  display:flex ;
}

footer .right ul li{
  list-style: none;
  padding-right: 10px;
}

footer .right ul li i{
  font-size: 1.3rem;
}